/****** Object:  Database [rogreenwines_db]    Script Date: 5/6/2020 9:44:49 AM ******/
CREATE DATABASE [rogreenwines_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rogreenwines_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\rogreenwines_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rogreenwines_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\rogreenwines_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rogreenwines_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rogreenwines_db]
GO
/****** Object:  Schema [rogreenwines]    Script Date: 5/6/2020 9:44:49 AM ******/
CREATE SCHEMA [rogreenwines]
GO
/****** Object:  Table [rogreenwines].[Region]    Script Date: 5/6/2020 9:44:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rogreenwines].[Region](
	[id] [nvarchar](255) NOT NULL,
	[__createdAt] [datetimeoffset](3) NOT NULL,
	[__updatedAt] [datetimeoffset](3) NULL,
	[__version] [timestamp] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[WebSite] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [__createdAt]    Script Date: 5/6/2020 9:44:49 AM ******/
CREATE CLUSTERED INDEX [__createdAt] ON [rogreenwines].[Region]
(
	[__createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Table [rogreenwines].[Varietal]    Script Date: 5/6/2020 9:44:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rogreenwines].[Varietal](
	[id] [nvarchar](255) NOT NULL,
	[__createdAt] [datetimeoffset](3) NOT NULL,
	[__updatedAt] [datetimeoffset](3) NULL,
	[__version] [timestamp] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[WineColor] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [__createdAt]    Script Date: 5/6/2020 9:44:49 AM ******/
CREATE CLUSTERED INDEX [__createdAt] ON [rogreenwines].[Varietal]
(
	[__createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Table [rogreenwines].[Wine]    Script Date: 5/6/2020 9:44:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rogreenwines].[Wine](
	[id] [nvarchar](255) NOT NULL,
	[__createdAt] [datetimeoffset](3) NOT NULL,
	[__updatedAt] [datetimeoffset](3) NULL,
	[__version] [timestamp] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Vintage] [float] NULL,
	[Price] [float] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[DrinkBy] [float] NULL,
	[MyRating] [float] NULL,
	[StorageLocation1] [nvarchar](max) NULL,
	[StorageLocation2] [nvarchar](max) NULL,
	[StorageLocation3] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[WineryId] [nvarchar](255) NOT NULL,
	[RegionId] [nvarchar](255) NOT NULL,
	[VarietalId] [nvarchar](255) NOT NULL,
	[WhenDrank] [smalldatetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [__createdAt]    Script Date: 5/6/2020 9:44:49 AM ******/
CREATE CLUSTERED INDEX [__createdAt] ON [rogreenwines].[Wine]
(
	[__createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Table [rogreenwines].[Winery]    Script Date: 5/6/2020 9:44:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rogreenwines].[Winery](
	[id] [nvarchar](255) NOT NULL,
	[__createdAt] [datetimeoffset](3) NOT NULL,
	[__updatedAt] [datetimeoffset](3) NULL,
	[__version] [timestamp] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Area] [nvarchar](max) NULL,
	[WebSite] [nvarchar](max) NULL,
	[WineClub] [bit] NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [__createdAt]    Script Date: 5/6/2020 9:44:49 AM ******/
CREATE CLUSTERED INDEX [__createdAt] ON [rogreenwines].[Winery]
(
	[__createdAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
INSERT [rogreenwines].[Region] ([id], [__createdAt], [__updatedAt], [Name], [State], [Country], [WebSite], [Notes]) VALUES (N'C8FC7047-1B03-467D-A896-9D67E74DCA07', CAST(N'2013-12-26T23:50:57.2630000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:27:52.9940000+00:00' AS DateTimeOffset), N'Napa Valley', N'California', N'United States', N'', N'')
INSERT [rogreenwines].[Region] ([id], [__createdAt], [__updatedAt], [Name], [State], [Country], [WebSite], [Notes]) VALUES (N'E76FE5AA-759C-42E9-B14D-3BC260198FCE', CAST(N'2013-12-26T23:50:57.3730000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:29:56.2470000+00:00' AS DateTimeOffset), N'Sonoma Valley', N'California', N'United States', N'', N'')
INSERT [rogreenwines].[Region] ([id], [__createdAt], [__updatedAt], [Name], [State], [Country], [WebSite], [Notes]) VALUES (N'D802BEB2-8AA6-4A10-B46B-4F70F0EF4B3B', CAST(N'2013-12-26T23:50:57.4980000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:29:56.2940000+00:00' AS DateTimeOffset), N'Willamette Valley', N'Oregon', N'United States', N'', N'')
GO
INSERT [rogreenwines].[Varietal] ([id], [__createdAt], [__updatedAt], [Name], [WineColor]) VALUES (N'FDB75ED0-E6B9-40AC-877E-1EBD0675CA63', CAST(N'2013-12-26T23:47:44.1530000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:39:47.6950000+00:00' AS DateTimeOffset), N'Barbera', N'Red')
INSERT [rogreenwines].[Varietal] ([id], [__createdAt], [__updatedAt], [Name], [WineColor]) VALUES (N'4C643B8F-5E0A-49A2-9542-DF109605FE9A', CAST(N'2013-12-26T23:47:44.2630000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:39:47.7420000+00:00' AS DateTimeOffset), N'Cabernet Franc', N'Red')
INSERT [rogreenwines].[Varietal] ([id], [__createdAt], [__updatedAt], [Name], [WineColor]) VALUES (N'A35AAC5F-4F80-43FA-A5E0-D03E81DD7BDF', CAST(N'2013-12-26T23:47:44.3880000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:39:47.8040000+00:00' AS DateTimeOffset), N'Cabernet Sauvignon', N'Red')
GO
INSERT [rogreenwines].[Winery] ([id], [__createdAt], [__updatedAt], [Name], [Address], [City], [State], [PostalCode], [PhoneNumber], [Country], [Area], [WebSite], [WineClub], [Notes]) VALUES (N'4B9D6107-E2CC-41CD-ACAA-9C0445AC19C8', CAST(N'2013-12-26T22:54:44.3030000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:35:34.0150000+00:00' AS DateTimeOffset), N'Adelsheim', N'', N'Newberg', N'OR', N'', N'', N'United States', N'', N'http://www.adelsheim.com', 0, N'')
INSERT [rogreenwines].[Winery] ([id], [__createdAt], [__updatedAt], [Name], [Address], [City], [State], [PostalCode], [PhoneNumber], [Country], [Area], [WebSite], [WineClub], [Notes]) VALUES (N'73641385-BFBE-454D-83F6-6BA600A41C67', CAST(N'2013-12-26T22:54:44.4590000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:35:34.1090000+00:00' AS DateTimeOffset), N'Basel Cellars', N'', N'Walla Walla', N'WA', N'', N'', N'United States', N'', N'http://www.baselcellars.com', 0, N'')
INSERT [rogreenwines].[Winery] ([id], [__createdAt], [__updatedAt], [Name], [Address], [City], [State], [PostalCode], [PhoneNumber], [Country], [Area], [WebSite], [WineClub], [Notes]) VALUES (N'3FA98365-B9C8-472E-9BD6-69FE355F11E4', CAST(N'2013-12-26T22:54:44.6470000+00:00' AS DateTimeOffset), CAST(N'2014-02-16T22:35:34.1560000+00:00' AS DateTimeOffset), N'Beaulieu Vineyard', N'', N'Rutherford', N'CA', N'', N'', N'United States', N'', N'http://www.bvwines.com', 0, N'')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__Region__3213E83EC07A1F46]    Script Date: 5/6/2020 9:44:51 AM ******/
ALTER TABLE [rogreenwines].[Region] ADD PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__Varietal__3213E83E1C7874F0]    Script Date: 5/6/2020 9:44:51 AM ******/
ALTER TABLE [rogreenwines].[Varietal] ADD PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__Wine__3213E83E8D398EF3]    Script Date: 5/6/2020 9:44:51 AM ******/
ALTER TABLE [rogreenwines].[Wine] ADD  CONSTRAINT [PK__Wine__3213E83E8D398EF3] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__Winery__3213E83EF5FC7C7F]    Script Date: 5/6/2020 9:44:51 AM ******/
ALTER TABLE [rogreenwines].[Winery] ADD PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [rogreenwines].[Region] ADD  CONSTRAINT [DF_Region_id]  DEFAULT (CONVERT([nvarchar](255),newid(),(0))) FOR [id]
GO
ALTER TABLE [rogreenwines].[Region] ADD  CONSTRAINT [DF_Region___createdAt]  DEFAULT (CONVERT([datetimeoffset](3),sysutcdatetime(),(0))) FOR [__createdAt]
GO
ALTER TABLE [rogreenwines].[Varietal] ADD  CONSTRAINT [DF_Varietal_id]  DEFAULT (CONVERT([nvarchar](255),newid(),(0))) FOR [id]
GO
ALTER TABLE [rogreenwines].[Varietal] ADD  CONSTRAINT [DF_Varietal___createdAt]  DEFAULT (CONVERT([datetimeoffset](3),sysutcdatetime(),(0))) FOR [__createdAt]
GO
ALTER TABLE [rogreenwines].[Wine] ADD  CONSTRAINT [DF_Wine_id]  DEFAULT (CONVERT([nvarchar](255),newid(),(0))) FOR [id]
GO
ALTER TABLE [rogreenwines].[Wine] ADD  CONSTRAINT [DF_Wine___createdAt]  DEFAULT (CONVERT([datetimeoffset](3),sysutcdatetime(),(0))) FOR [__createdAt]
GO
ALTER TABLE [rogreenwines].[Winery] ADD  CONSTRAINT [DF_Winery_id]  DEFAULT (CONVERT([nvarchar](255),newid(),(0))) FOR [id]
GO
ALTER TABLE [rogreenwines].[Winery] ADD  CONSTRAINT [DF_Winery___createdAt]  DEFAULT (CONVERT([datetimeoffset](3),sysutcdatetime(),(0))) FOR [__createdAt]
GO
ALTER TABLE [rogreenwines].[Wine]  WITH CHECK ADD  CONSTRAINT [FK_Wines_Regions] FOREIGN KEY([RegionId])
REFERENCES [rogreenwines].[Region] ([id])
GO
ALTER TABLE [rogreenwines].[Wine] CHECK CONSTRAINT [FK_Wines_Regions]
GO
ALTER TABLE [rogreenwines].[Wine]  WITH CHECK ADD  CONSTRAINT [FK_Wines_Varietals] FOREIGN KEY([VarietalId])
REFERENCES [rogreenwines].[Varietal] ([id])
GO
ALTER TABLE [rogreenwines].[Wine] CHECK CONSTRAINT [FK_Wines_Varietals]
GO
ALTER TABLE [rogreenwines].[Wine]  WITH CHECK ADD  CONSTRAINT [FK_Wines_Wineries] FOREIGN KEY([WineryId])
REFERENCES [rogreenwines].[Winery] ([id])
GO
ALTER TABLE [rogreenwines].[Wine] CHECK CONSTRAINT [FK_Wines_Wineries]
GO
